[submodule "infrastructure/ktorapp/src/main/kotlin/com/skram_master/resource"]
	path = infrastructure/ktorapp/src/main/kotlin/com/skram_master/resource
	url = git@github.com:skram-master/resource.git
[submodule "adapter/src/main/kotlin/com/skram_master/dto"]
	path = adapter/src/main/kotlin/com/skram_master/dto
	url = git@github.com:skram-master/dto.git
